<p style="text-align:center"><strong>Паркинг</strong></p>

<a type="button" [routerLink]="['/map']">Посмотреть парковки на карте</a>


<p-tabView>
  <p-tabPanel header="Список">
    <p-table [value]="parkings">
      <ng-template pTemplate="header">
        <tr>
          <th>Адрес</th>
          <th>Открыта сейчас</th>
          <th>Стоимость</th>
        </tr>
      </ng-template>
      <ng-template  pTemplate="body" let-parking>
        <tr>
          <td><a [routerLink]="['/parking', parking.id]">{{parking.address}}</a></td>
          <td>{{parking.isOpenNow ? 'Открыто' : 'Открыто'}}</td>
          <td>{{parking.price}} руб/ч</td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
  <p-tabPanel header="Карта">
    <app-map></app-map>
  </p-tabPanel>
</p-tabView>


